* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
}

nav {
    height: 35%;
}

.navigation {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    width: 100%;
    position: fixed;
}

.navigation > ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
}

.navigation .social-media ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 10px;
}

.navigation a {
    color: #000000c9;
    text-decoration: none;
    transition: .3s;
    text-transform: capitalize;
}

.navigation a:hover {
    color:#000;
    font-size: 20px;
}

nav .image-box {
    height: 100%;
    width: 100%;
}

nav .image-box img {
    height: 100%;
    width: 100%;
}

/* main content partie gauche  */

.content {
    width: 100%;
}

.left-part {
    width: 70%;
    margin-left: 15%;
}

.left-part .article {
    display: flex;
    margin: 30px;
    align-items: center;
    gap: 15px;

}

.left-part .article .txt h6{
    color: grey;
    margin: 5px;
}

.left-part .article .txt h2 {
    font-size: 24px;
    letter-spacing: 2px;
    margin: 5px;
}

.left-part .article .txt p {
    line-height: 25px;
    width: 400px;
    overflow: hidden;
}